In [23]:
import pandas as pd
import os
import numpy as np

In [26]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import dash_colorscales

In [14]:
pd.options.display.max_rows = 10

In [3]:
directory = os.getcwd()

In [4]:
data = pd.read_csv(os.path.join(directory, 'dashboard/sp500.csv'), )

In [7]:
data.columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Name']

In [11]:
data.Date = pd.to_datetime(data.Date)

In [15]:
data

             Date   Open   High    Low  Close    Volume Name
0      2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1      2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2      2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3      2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4      2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL
...           ...    ...    ...    ...    ...       ...  ...
557178 2013-12-30  36.88  37.43  36.79  37.30   2581046  UAL
557179 2013-12-31  37.43  37.90  37.35  37.83   2115459  UAL
557180 2014-01-02  37.70  38.13  37.50  37.73   2228357  UAL
557181 2014-01-03  38.44  40.15  38.21  39.95   7080683  UAL
557182 2014-01-06  40.11  40.50  39.14  39.36   4640020  UAL

[557183 rows x 7 columns]

In [13]:
app = dash.Dash()

In [16]:
app.layout = html.Div(children=[
    html.H1(children='Dashboard Test'),

    html.P('Drag the slider to change the year:'),

    dcc.Graph(
        id='example-graph',
        figure={
            'data': [
                {'x': [1, 2, 3], 'y': [4, 1, 2], 'type': 'bar', 'name': 'SF'},
                {'x': [1, 2, 3], 'y': [2, 4, 5], 'type': 'bar', 'name': u'Montréal'},
            ],
            'layout': {
                'title': 'Dash Data Visualization'
            }
        }
    )
])

In [17]:
app.run_server()

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [03/Apr/2018 21:32:32] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [03/Apr/2018 21:32:35] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [03/Apr/2018 21:32:35] "GET /_dash-dependencies HTTP/1.1" 200 -